<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Neptuo.Productivity.SolutionRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Neptuo.Productivity.SolutionRunner.Properties.Settings>
            <setting name="SourceDirectoryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PreferedApplicationPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PinnedFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="RunKey" serializeAs="String">
                <value />
            </setting>
            <setting name="FileSearchMode" serializeAs="String">
                <value />
            </setting>
            <setting name="FileSearchCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FileSearchPattern" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFileSearchPatternSaved" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsLastUsedApplicationSavedAsPrefered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDismissedWhenLostFocus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsHiddentOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdditionalApplications" serializeAs="String">
                <value />
            </setting>
            <setting name="IsAutoSelectApplicationVersion" serializeAs="String">
                <value>False</value>
            </setting>
        </Neptuo.Productivity.SolutionRunner.Properties.Settings>
    </userSettings>
</configuration>