<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="1.16.30" targetFramework="net45" developmentDependency="true" />
  <package id="Neptuo" version="5.5.0" targetFramework="net45" />
  <package id="Neptuo.Exceptions" version="1.2.1" targetFramework="net45" />
  <package id="Neptuo.FileSystems" version="1.1.0" targetFramework="net45" />
  <package id="Neptuo.FileSystems.Local" version="1.0.1" targetFramework="net45" />
  <package id="Neptuo.Formatters" version="2.0.0" targetFramework="net45" />
  <package id="Neptuo.Formatters.Composite" version="2.2.0" targetFramework="net45" />
  <package id="Neptuo.Formatters.Composite.Json" version="2.2.0" targetFramework="net45" />
  <package id="Neptuo.Formatters.Composite.Metadata" version="1.0.1" targetFramework="net45" />
  <package id="Neptuo.Models.Features" version="1.0.0" targetFramework="net45" />
  <package id="Neptuo.Observables" version="1.2.1" targetFramework="net45" />
  <package id="Neptuo.PresentationModels" version="7.2.0" targetFramework="net45" />
  <package id="Neptuo.Windows.HotKeys" version="1.0.0" targetFramework="net45" />
  <package id="Neptuo.Windows.Threading" version="1.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net45" />
</packages>